img {
  width: 800px;
  border: pink 6px;
  border-style: outset;
  }
h1 {
  font-family: impact
}
li {
  color: maroon;
  font-size: 14px;
  font-style: oblique;
}
p {
  font-family: arial
}
div {
  background-color: green;
  width: 800px;
}
